.header {
    height: 70px;
    padding-top: 20px;
}

.alert {
    text-align: center;
}

.form-control {
    margin-bottom: 6px;
}

.btn-crud {
    margin-right: 9px;
}

#SVG {
    height: 1000px;
    width: 1000px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#svgMap {
    position: absolute;
    left: 0px;
    top: 0px;
}