doctype html
html(lang='en', ng-app='statesApp')
  head
    meta(charset='utf-8')
    title Angular states and auth
    link(rel='stylesheet', href='bundles/styles.css')  
  body
    ui-view
    script(src='bundles/scripts.js')