.header
    h4.header-username Добро пожаловать, {{$ctrl.userData.username}}
    a.header-logout.btn.btn-default(ng-click="$ctrl.logout()") Выход
.main
    .svg-wrapper
        svg#canvas
        #map
    .form-wrapper
        .container-fluid.form-header
           .alert.alert-success(role="alert", ng-show="$ctrl.messages['added']") Торговая точка добавлена!
           .alert.alert-success(role="alert", ng-show="$ctrl.messages['edited']") Торговая точка изменена!
           .alert.alert-success(role="alert", ng-show="$ctrl.messages['deleted']") Торговая точка удалена!
        form(name="currentForm", novalidate="")
            ul.form-container
                li
                    label(for="inputName") Наименование торговой точки
                    input#inputName.form-control(type="text", required="", ng-model="$ctrl.current.name")
                li
                    label(for="inputAmount") Количество товара для поставки
                    input#inputAmount.form-control(type="number", required="", ng-model="$ctrl.current.amount")
                li
                    label(for="inputX") Координата x
                    input#inputX.form-control(type="number", required="", ng-model="$ctrl.current.x")
                li
                    label(for="inputY") Координата y
                    input#inputY.form-control(type="number", required="", ng-model="$ctrl.current.y")
                li.form-buttons
                    input.btn.btn-default(type="submit", value="Добавить", ng-disabled="currentForm.$invalid||currentForm.$pristine", ng-click="$ctrl.add()")
                    input.btn.btn-default(type="button", value="Изменить", ng-disabled="currentForm.$invalid||!$ctrl.currentIndex", ng-click="$ctrl.edit()")
                    input.btn.btn-default(type="button", value="Удалить", ng-disabled="!($ctrl.currentIndex===0||$ctrl.currentIndex)", ng-click="$ctrl.delete()")
                    input.btn.btn-default(type="button", value="Сброс", ng-click="$ctrl.clear()")